extends layoutgrid
block content
	div.container-fluid.body-container(data-ng-controller="userController")
		header.header
			div.row.header-container
				div.col-xs-12
					div
						div.logo.float-left
							a(href="/" title="View Ebook")
								img(src='#{pageStyle.logoImg}')
		main.main
			div.row
				div.col-xs-6.login-box
					h1 Login
					div.form-group
						label(for="login-username") Name:
						input.form-control#login-username(type="text" data-ng-model="loginuser")
					div.form-group
						label(for="login-password") Password:
						input.form-control#login-password(type="password"  data-ng-model="loginpassword")
					div.form-group
						button.btn.btn-primary(type="button" data-ng-click="login($event)") Submit
						button.btn.btn-danger.margin-left-10(type="button") Reset
				div.col-xs-6.register-box
					h1 Register
					div.form-group
						label(for="name") Name:
						input.form-control#name(type="text" data-ng-model="name" required)

					div.form-group
						label(for="username") Choose Username:
						input.form-control#username(type="text" data-ng-model="username" required data-ng-blur="validateUserName($event)")
						div.validation-error(data-ng-show="invalidUserName") Username already exits !. Please choose other username

					div.form-group
						label(for="password") Choose Password:
						input.form-control#password(type="password" data-ng-model="password" required)

					div.form-group
						label(for="confirm-password") Reenter Password:
						input.form-control#confirm-password(type="password" data-ng-blur="validatePassword($event)" data-ng-model="confirmpassword" required)
						div.validation-error(data-ng-show="invalidPassword") confirm password do not match

					div.form-group
						label(for="email") Email:
						input.form-control#email(type="email" data-ng-model="email" required)

					div.form-group
						label(for="phone-number") Phone Number:
						input.form-control#phone-number(type="number" data-ng-model="phonenumber" required)

					div.form-group
						label(for="city-name") City Name:
						input.form-control#city-name(type="text" data-ng-model="cityname" required)

					div.form-group
						button.btn.btn-primary(type="button" data-ng-click="registeruser($event)") Submit
						button.btn.btn-danger.margin-left-10(type="button") Reset

		footer.footer
			div.row
				div.col-xs-12.footer-container
					div This is footer

