$color-red: #ff0000;
$color-black: #000000;
$color-light-blue: #17acee;
$color-dark: #02131a;
$color-dark-blue: #064966;
$color-light-gray: #cccccc;
$color-gray: #d6d6d6;
$color-dark-gray: #bbbbbb;
$color-white: #ffffff;
$color-lighter-blue: #1978ce;
$color-dark-gray: #333333;
$color-lighter-gray: #fafafa;
$color-navy-blue: #11378f;
